<footer class="site-footer">

    <div class="container footer-inner">

        <div class="footer-brand">
            <div class="footer-logo">
                RCT<span>X</span>
            </div>

            <p>
                Modern websites for businesses across
                Rhondda Cynon Taf.
            </p>
        </div>

        <div class="footer-contact">
            <h3>Contact</h3>

            <a href="tel:+447434745240">
                07434 745240
            </a>

            <a href="mailto:support@rctx.co.uk">
                support@rctx.co.uk
            </a>
            
       <a href="https://wa.me/447434745240" class="footer-cta-mobile">
    Message Eddie Directly
</a>
        </div>

        <div class="footer-links">
            <h3>Legal</h3>

            <a href="/policy/privacy-policy">
                Privacy Policy
            </a>

            <a href="/policy/terms">
                Terms & Conditions
            </a>
        </div>

    </div>

    <div class="footer-bottom">
        © <span id="year"></span> RCTX • Web Design Rhondda Cynon Taf • All Rights Reserved
    </div>

</footer>
